body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#SearchField {
  width: 100px;
  min-height: 3px;
}

#searchArea {
  position: fixed;
  bottom: 200px;
}

.ImageCard {
  width: 310px;
  height: 260px;
}

.GridCard {
  width: 310px;
  height: 270px;
  margin-bottom: 2px;
}

#LabelBar{
  position: fixed;
  bottom: 260px;
}

#CardLabel {
  height: 100%;
  width:100%;
}

.Label {
  margin: 5px;
}

